a {
  color: #c391e3;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: rgb(237, 173, 7);
  text-decoration: underline;
  
}

a:not([href]) {
  color: inherit;
  text-decoration: none;
}
a:not([href]):hover {
  color: inherit;
  text-decoration: none;
}